.site-nav {
    @apply font-riverside;
    .router-link-active {
        @apply text-butterscotch-500;
    }
    a, .faux-link {
        @apply inline-block leading-snug;
        background: linear-gradient(
            to right,
            rgba(100, 200, 200, 0),
            rgba(100, 200, 200, 0)
        ),
        linear-gradient(
            to right,
            theme("colors.tuscany.500"),
            theme("colors.tuscany.500")
        );
        background-size: 100% 0.1em, 0 0.1em;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
        transition: background-size 400ms;
    
        &:hover {
            background-size: 0 0.1em, 100% 0.1em;
        }
    }
}
