#progress {
  animation: grow-progress linear forwards;
  animation-timeline: scroll();
}

@keyframes anim-header-top {
  from {
      @apply text-butterscotch-500;
      transform: translateY(-2rem); 
  }
  100% {
      @apply text-tuscany-500;
      transform: translateY(4rem);
  }
}


@keyframes anim-header-bottom {
  from {
      transform: translateY(0rem); 
  }
  100% {
      transform: translateY(-6rem);
  }
}

.anim-header-top {
  animation: anim-header-top linear forwards;
  animation-timeline: view();
}

.anim-header-bottom {
  animation: anim-header-bottom linear forwards;
  animation-timeline: view(block 0px -100px);
}

@keyframes fade-in {
  from {
    @apply opacity-0;
    transform: translateY(4rem)
  }
  to {
    @apply opacity-100;
    transform: translateY(0)
  }
}

.fade-in {
  animation: fade-in linear forwards;
  animation-timeline: view(block 50% -100px);
}